/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CUSTOM STYLE*/

*,
*::before,
*::after{
box-sizing: border-box;
}
/* GENERAL*/
.container{
	max-width: 1330px;
	margin: 40px auto;
	padding: 32px 0;
}
/* Header*/
.background{
	position: relative;
}
.background-img{
}
.social-med{
	position:absolute;
	top: 45px;
	left: 42%;
}
.icon{
	margin-right: 15px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	padding-top: 9px;
	font-size: 13px;
}
.navigation{
position: absolute;
top: 100px;
left: 16%;
}
header{
	background-color: white;
	position: fixed;
	display: flex;
	align-items: center;
}
.logo{
	height: 110px;
	width: 110px;
}
.heading{
	margin-left: 30px;
	margin-right: 400px;
	font-size: 35px;
	font-weight:bolder;
	color:rgb(255, 60, 0);
}
.navigation a{
	text-decoration: none;

}
.link-btn{
	font-size: 14px;
	color:black;
	margin-right: 40px;
	font-weight: 500;
}
.subheading{
	position:absolute;
	top:56%;
	left: 36%;
	text-align: center;
}
hr{
	width: 407.4px;
	border-style: solid;
	color: white;
	font-weight: bolder;
}
h1{
	font-size: 40px;
	font-weight: 950;
	color: white;	
}
h2{
	font-size: 20px;
	font-weight: 800;
	color:rgb(255, 60, 0);
}
.subheading-btn{
	margin-top: 10px;
	height: 45px;
	font-size: 13px;
	color: white;
	background-color: rgb(255, 60, 0);
	font-weight: 900;
	border: 5px;
	border-radius: 5px;
}
.our-common{
	text-align: center;
	margin-bottom: 20px;
}
h3{
	font-size: 28px;
	text-decoration: underline;
	color: black;
	font-weight: 800;
}
h4{
	font-size: 16px;
	margin-top: 10px;
}
.ourservices-img
{
margin-top: 50px;
}
.icon-{
	font-size: 50px;
	color: white;
	width:260px;
	height: 290px;
	padding:100px;
	margin-right: 30px;
}
.icon1{
	background-color:rgb(54, 175, 163);
}
.icon2{
	background-color:rgb(223, 145, 2);
}
.icon3{
	background-color:rgb(4, 170, 199);
}
.icon4{
	background-color:rgb(11, 168, 32);
}
.icon-p{
	width:260px;
	height: 290px;
	margin-right: 30px;
}
.icon-t{
	width:260px;
	height: 260px;
	margin-right: 30px;
	border-radius: 50%;	
}
h5{
	font-style: italic;
	font-size: 18px;
	color:#4a4646;
	font-weight: 500;

}
h6{
	font-style: italic;
	font-size: 13px;
	color: grey;
	font-weight: 500;
}
.design{
	margin-top:50px;
	display: flex;
	flex-wrap: nowrap;

}
.design-para{
	text-align: left;
	width: 60%;
	margin-right: 40px;
}
.design-skills{
	height: 250px;
	max-width: 35%;
	text-align: left;
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 20px;

}
.skill-1 {
width: 90%;
height: 40px;
background-color: rgb(255, 60, 0);
display: flex;
padding-left: 15px;
align-items: center;
}
.skill1-1{
height:40px ;
width: 10%;
background-color: lightgrey;
}
.skill-p{ 
    color: white;
	font-weight: 900;

}
.s2{
	width: 80%;
}
.s22{
	width: 20%;
}
.s3{
	width: 70%;
}
.s33{
	width: 30%;
}
.maps{
	height: 
	width: 1330px;
}
.contact-para{
width: 60%;
margin-left: 30px;
}
.name-column{
width: 40%;
height: 350px;
}
.orange{
color: rgb(255, 60, 0);
}
.name{
width: 100%;
background-color: white;
border: 1px solid grey;
}
.name-p{
	color:grey;
	font-size: 14px;
	font-weight: 500;
}
.message{
	height: 100px;

}
.send{
	justify-content: center;
	background-color: rgb(255, 60, 0);
}
.send-m{
	color: white;
	font-weight: 800;
}
footer{
	display: flex;
	justify-content: space-between;
}
.bottom{
	margin-bottom: 12px;
	padding-bottom: 0;
}
.footer{

}
.back-top{
	height: 50px;
	width: 200px;
	background-color: rgb(255, 60, 0);
	padding: 15px;
	border: rgb(255, 60, 0);
}
.back-top a{
	text-decoration: none;
	color: white;
	font-weight: 900;
	font-size: 15px;
}
/*  Gallery */
.container-1{
	display: flex;
}
.left{
	background-color: rgb(255, 60, 0);
	width: 22%;
	height: 100vh;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	position:fixed;
	margin-right: 30px;
}
.header-img{
	width: 70px;
	height: 70px;
}
.header-t{
	font-size: 30px;
	font-weight: 900;
	margin-right: 120px;
	color: white;
}
.header-u{
	margin-top: 40px;
	display: flex;
	align-items: center;
}
.home-g{
	background-color: rgb(255, 60, 0);
	border: 1px solid white;
	width:70px;
	height: 25px;
	border-radius: 2px;
}
.home-g a{
	text-decoration: none;
	color: white;
	font-weight: 800;
	font-size: 12px;
}
.full-stack{
	position: absolute;
	top: 70%;
}
.full-stack p{
	font-size: 25px;
	color: white;
	font-weight: 800;
	padding-right: 30px;
}
.full-stack-p{
	position: ab;
}
.full-stack .fs2{
	font-size: 14px;
	color: black;
	font-weight: 600;
	margin-top: 5px;
	padding-right: 50px;
}
.social-med2{
	margin-top: 30px;

}
.i1{
	background-color: rgb(255, 60, 0);
	border:2px solid white;
	color: white;
}
.right{
	height: 100vh;
	width: 65%;
	margin-left: 400px;
}
.gallery-heading{
	margin-top: 20px;
	margin-bottom: 20px;
}
.gallery-heading p
{ text-align: center;
	font-size: 50px;
	font-weight: 800;
}
.gallery-container{
	display: flex;
	justify-content:space-evenly;
	width: 100%;
	margin-left: 40px;
}
.gallery-img1{
width: 50%;
display: flex;
flex-direction:column;
margin: 20px;
padding: 20px 0;
}
.gallery-container .gallery-img1 img{
	width: 100%;
	margin-bottom: 20px;
	border: 3px solid black;
}






























